<html>

<head>
    <style>
        @page {
            size: A4;
            margin: 0;
        }
        
        @media print {
            html,
            body {
                width: 210mm;
                height: 297mm;
                padding-left: 15px;
                padding-right: 20px;
                padding-top: 10px;
            }
            * {
                font-size: 12px;
            }
        }
    </style>
</head>

<body>
    <div style="width:100%; class=" content ">
    <div>
    <table style="width:100%; border-collapse:collapse; " border="1 ">
      	<tr>
		<td>No. Doc</td>
		<td>Tgl. Dibuat</td>
		<td>Reg. No</td>
	</tr>
	<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
    </table>
    <div align="center " style="font-weight:bold; margin-top:20px; "><u>LAPORAN KONDISI UNIT AKIBAT TRANSPORTASI SMH</u></div>
    <div align="center " style="margin-bottom:20px; ">Pada saat serah terima dari Ekspedisi unit SMH</div>

    <div align="center " style="margin-bottom:5px; "><b>Profil Ekspedisi</b></div>
    <table style="width:100%; border-collapse:collapse; " border="1 ">
	<tr>
		<td>Nama Ekspedisi</td>
		<td>0</td>
		<td>No. Polisi</td>
		<td>0</td>
		
	</tr>
	<tr>
		<td>No. SP List</td>
		<td>0</td>
		<td>Tanggal SP List</td>
		<td>0</td>
		
	</tr>
	<tr>
		<td>No. D.O.</td>
		<td>0</td>
		<td>Tanggal D.O.</td>
		<td>0</td>
	</tr>
    </table>

    <div align="center " style="margin-top:20px; margin-bottom:5px; "><b>Jumlah Unit yang diangkut</b></div>
    <table style="width:100%; border-collapse:collapse; " border="1 ">
	<tr align="center ">
		<td colspan="4 "><b>Tipe</b></td>
		<td><b>Total</b></td>		
	</tr>
	<tr align="center ">
		<td>MAT</td>
		<td>SPORT</td>
		<td>CUB</td>
		<td>BIGBIKE</td>
		<td rowspan="2 ">0 Motor</td>
	</tr>
	<tr align="center ">
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
    </table>

    <div align="center " style="margin-top:20px; margin-bottom:5px; "><b>Kerusakan dan Penanganan Unit</b></div>
    <table style="width:100%; border-collapse:collapse; " border="1 ">
	<tr>
		<th>No</th>
		<th width="5% "><p style="writing-mode:vertical-lr; transform: rotate(-180deg) ">Type</p></th>
		<th width="5% "><p style="writing-mode:vertical-rl; transform: rotate(-180deg) ">Warna</p></th>
		<th>No. Frame</th>
		<th>No. Rangka</th>
		<th width="20% ">Kerusakan</th>
		<th>No. Part</th>
		<th rowspan="17 " width="30px "></th>
		<th width="70px ">Penanganan</th>
        </tr>
	<tr>
		<td>1</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>2</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>3</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>4</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>5</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>6</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>7</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>8</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>9</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>10</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>1</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>11</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>12</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>13</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>14</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
	<tr>
		<td>15</td>
		<td>lpa</td>
		<td>bk</td>
		<td>ABCDEFGHIJKL</td>
		<td>ABCDEFGHIJKLMN</td>
		<td>Cover body L</td>
		<td>ABCD-ABCD-ABCDE</td>
		<td></td>
	</tr>
    </table>

    <table style="width:100%; border-collapse:collapse; " border="1 ">
	<tr>
		<td align="center "><b>MENYETUJUI</b></td>
		<td align="center " colspan="2 "><b>KESIMPULAN</b></td>
		<td align="center "><b>DIBUAT OLEH</b></td>
		<td rowspan="4 " width="30px " style="border-bottom:none; border-top:none; "></td>
		<td rowspan="4 " width="70px "><div style="word-wrap:break-word; ">Kolom ini diisi oleh H.S.O. Pusat Jakarta</div></td>
	</tr>
	<tr >
		<td rowspan="3 "></td>
		<td>Kurang/Rusak</td>
		<td>0</td>
		<td rowspan="3 "></td>
	</tr>
	<tr>
		<td>Kondisi Baik</td>
		<td>0</td>
	</tr>
	<tr>
		<td>TOTAL SMH</td>
		<td>0</td>
	</tr>
    </table>
</div>
	<table style="width:100%; border-collapse:collapse; " border="1 ">
		<tr>
			<td>Catatan:
				<ul>
					<li>Sopir diwajibkan berseragam</li>
					<li>Menggunakan sepatu</li>
					<li>Menjaga kebersihan area gudang</li>
				</ul>
			</td>
		</tr>
	</table>
    </div>
  </body>
</html>